ConfigParser==7.2.0
affine==2.4.0
certifi==2025.1.31
cftime==1.6.4.post1
click==8.1.8
cligj==0.7.2
colorama==0.4.6
configparser==7.2.0
geoalchemy2==0.17.1
geopandas==1.0.1
greenlet==3.1.1
idna==3.10
netCDF4==1.7.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pip==23.2.1
psycopg2==2.9.10
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
pytz==2025.1
rasterio==1.4.3
requests==2.32.3
rioxarray==0.18.2
shapely==2.0.7
six==1.17.0
sqlalchemy==2.0.39
typing_extensions==4.12.2
urllib3==2.3.0
xarray==2025.1.2